body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.topBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98.5vw;
  height: 63px;
  margin: 0;
  padding: 0;
  background: white;
  top: 0;
  position: sticky;
  z-index: 1999;
}
.topBar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  margin-left: 20px;
  border-radius: 250%;
}
.topBar .logo:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .logo img {
  max-height: 55%;
}
.topBar .Inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 43px;
  border-radius: 22% 22% 22% 22%/45% 45% 54% 54%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10;
  background: black;
  color: white;
  cursor: pointer;
}
.topBar .parati {
  display: none;
  width: 75px;
  height: 36px;
  background: black;
  color: white;
  border-radius: 22% 22% 22% 22%/45% 45% 54% 54%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10;
  cursor: pointer;
}
.topBar .parati:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Hoy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 43px;
  border-radius: 22% 22% 22% 22%/45% 45% 54% 54%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10;
  cursor: pointer;
}
.topBar .Hoy:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Siguiendo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 43px;
  border-radius: 22% 22% 22% 22%/45% 45% 54% 54%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10;
  cursor: pointer;
}
.topBar .Siguiendo:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Buscar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 850px;
  height: 43px;
  margin: 0, 0, 0, 10px;
  border-radius: 2% 2% 2% 2%/50% 50% 50% 50%;
  background: rgba(231, 231, 231, 0.828);
  cursor: text;
}
.topBar .Buscar:hover {
  background: rgba(214, 214, 214, 0.828);
}
.topBar .Buscar img {
  max-height: 32%;
  margin-left: 10px;
}
.topBar .Buscar h2 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #575757;
  font-weight: lighter;
  margin-left: 10px;
}
.topBar .mas {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 250%;
  color: #444444;
  font-size: 45px;
}
.topBar .Notify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 250%;
  cursor: pointer;
}
.topBar .Notify:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Notify img {
  max-width: 70%;
  opacity: 0.8;
}
.topBar .Message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 250%;
  cursor: pointer;
}
.topBar .Message:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Message img {
  max-width: 120%;
  opacity: 0.6;
}
.topBar .User {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 250%;
  cursor: pointer;
}
.topBar .User:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .User img {
  max-width: 65%;
}
.topBar .Config {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 250%;
  margin-right: 15px;
  cursor: pointer;
}
.topBar .Config:hover {
  background: rgba(231, 231, 231, 0.828);
}
.topBar .Config img {
  max-width: 60%;
  opacity: 0.5;
}

.content {
  width: 90vw;
  margin: 20px auto;
  columns: 5;
  column-gap: 15px;
}
.content .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  break-inside: avoid;
}
.content .img:hover .save {
  opacity: 1;
}
.content .img img {
  max-width: 100%;
  border-radius: 5% 5% 5% 5%/5% 5% 5% 5%;
  cursor: zoom-in;
}
.content .img:hover {
  opacity: 0.8;
}
.content .img .name {
  margin: 5px 0 0 8px;
  padding: 0;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: zoom-in;
}
.content .img .save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vh;
  border-radius: 22% 22% 22% 22%/45% 45% 54% 54%;
  background: red;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
}
.content .img .save:hover {
  opacity: 80%;
}

@media (max-width: 1200px) {
  .content {
    columns: 4;
    width: calc(100%-40px);
    box-sizing: border-box;
    padding: 20px 20px 20px 0;
  }
}
@media (max-width: 768px) {
  .topBar .Siguiendo {
    display: none;
  }
  .topBar .Buscar {
    width: 800px;
  }
  .topBar .Message {
    display: none;
  }
  .topBar .Inicio {
    height: 35px;
    margin-left: 10px;
  }
  .topBar .Hoy {
    height: 35px;
  }
  .topBar .logo {
    margin-left: 10px;
  }

  .content {
    columns: 3;
  }
}
@media (max-width: 480px) {
  .topBar {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    width: 100vw;
    height: 110px;
  }
  .topBar .logo {
    display: none;
  }
  .topBar .Siguiendo {
    display: none;
  }
  .topBar .Notify {
    display: none;
  }
  .topBar .Buscar {
    width: 275px;
    height: 40px;
    order: 1;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 5% 3% 3% 5%/10% 13% 10% 16%;
  }
  .topBar .Buscar .h2 {
    font-weight: bold;
  }
  .topBar .mas {
    display: flex;
    margin-top: 5px;
    height: 42px;
    width: 42px;
    order: 2;
    font-weight: bold;
  }
  .topBar .Inicio {
    display: none;
  }
  .topBar .User {
    display: none;
  }
  .topBar .Message {
    display: flex;
    order: 3;
    height: 38px;
    width: 38px;
    margin-top: 13px;
  }
  .topBar .parati {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 4;
    margin-left: 10px;
  }
  .topBar .Hoy {
    order: 5;
    width: 75px;
    height: 36px;
    background-color: white;
  }
  .topBar .Config {
    display: none;
  }

  .content {
    columns: 2;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
}

/*# sourceMappingURL=main.css.map */
