body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.topBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98.5vw;
    height: 63px;
    margin:0;
    padding:0;
    background: white;
    top: 0;
    position: sticky;
    z-index: 1999;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        margin-left: 20px;
        border-radius: 250%;
        &:hover{
             background: rgba(231, 231, 231, 0.828);
        }
        img{
            max-height: 55%;
        }
    }

    .Inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 43px;
        border-radius: 22% 22% 22% 22% / 45% 45% 54% 54%  ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10;
        background: rgb(0, 0, 0);
        color: white;
        cursor: pointer;
    }
    .parati{
        display: none;
        width: 75px;
        height: 36px;
        background: rgb(0, 0, 0);
        color: white;
        border-radius: 22% 22% 22% 22% / 45% 45% 54% 54%  ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
    }
    .Hoy{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 43px;
        border-radius: 22% 22% 22% 22% / 45% 45% 54% 54%  ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
    }
    .Siguiendo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 43px;
        border-radius: 22% 22% 22% 22% / 45% 45% 54% 54%  ;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 10;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
    }
    .Buscar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 850px;
        height: 43px;
        margin: 0, 0, 0, 10px;
        border-radius: 2% 2% 2% 2% / 50% 50% 50% 50% ;
        background: rgba(231, 231, 231, 0.828);
        cursor: text;
        &:hover{
            background: rgba(214, 214, 214, 0.828);
        }
        img{
            max-height: 32%;
            margin-left: 10px;
        }
        h2{
            margin:0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: rgb(87, 87, 87);
            font-weight: lighter;
            margin-left: 10px;
        }

    }
    .mas{
        display: none;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 250%;
        color: rgb(68, 68, 68);
        font-size: 45px;
    }
    .Notify{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        border-radius: 250%;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
        img{
            max-width: 70%;
            opacity: 0.8;
        }
    }
    .Message{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        border-radius: 250%;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
        img{
            max-width: 120%;
            opacity: 0.6;
        }
    }
    .User{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        border-radius: 250%;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
        img{
            max-width: 65%;
        }
    }
    .Config{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 250%;
        margin-right: 15px;
        cursor: pointer;
        &:hover{
            background: rgba(231, 231, 231, 0.828);
        }
        img{
            max-width: 60%;
            opacity: 0.5;
        }
    }
}
.content{
    width: 90vw;
    margin: 20px auto;
    columns: 5;
    column-gap: 15px;
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        margin: 0 0 20px;
        padding: 10px;
        background-color: white;
        overflow: hidden;
        break-inside: avoid;
        &:hover .save{
            opacity: 1;
        }
        img{
            max-width: 100%;
            border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
            cursor: zoom-in;
        }
        &:hover{
            opacity: 0.8;
        }
        .name{
            margin: 5px 0 0 8px;
            padding: 0;
            font-size: 14px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            cursor: zoom-in;
        }
        .save{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6vw;
            height: 6vh;
            border-radius: 22% 22% 22% 22% / 45% 45% 54% 54%  ;
            background: red;
            position: absolute;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
            opacity: 0;
            cursor: pointer;
            &:hover{
                opacity: 80%;
            }
        }
    }
}

@media (max-width: 1200px){
    .content{
        columns:4;
        width: calc(100%-40px);
        box-sizing: border-box;
        padding:20px 20px 20px 0;
    }
}

@media (max-width: 768px){
    .topBar{
        .Siguiendo{
            display: none;
        }
        .Buscar{
            width: 800px;
        }
        .Message{
            display: none;
        }
        .Inicio{
            height: 35px;
            margin-left: 10px;
        }
        .Hoy{
            height: 35px;
        }
        .logo{
            margin-left: 10px;
        }
    }
    .content{
        columns:3;

    }
}

@media (max-width: 375px){
    .topBar{
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        width: 100vw;
        height: 110px;

        .logo{
            display: none;
        }
        .Siguiendo{
            display: none;
        }
        .Notify{
            display: none;
        }
        .Buscar{
            width: 275px;
            height: 40px;
            order: 1;
            margin-top:12px;
            margin-left:10px;
            border-radius: 5% 3% 3% 5% / 10% 13% 10% 16% ;
            .h2{
                font-weight: bold;
            }
        }

        .mas{
            display: flex;
            margin-top: 5px;
            height: 42px;
            width: 42px;
            order: 2;
            font-weight: bold;
        }
        .Inicio{
            display: none;
        }
        .User{
            display: none;
        }
        .Message{
            display: flex;
            order: 3;
            height: 38px;
            width: 38px;
            margin-top: 13px;
        }
        .parati{
            display: flex;
            justify-content: center;
            align-items: center;
            order: 4;
            margin-left: 10px;
        }
        .Hoy{
            order: 5;
            width: 75px;
            height: 36px;
            background-color: white;
        }
        .Config{
            display: none;
        }
    }
    .content{
        columns:2;
        padding: 0;
        margin: 0;
        width: 100vw;
    }
}